# Postgres
POSTGRES_PASSWORD=changeme

# App
SECRET_KEY=changeme-production-secret
CORS_ORIGINS=http://146.190.240.94

# Worker
WHISPERX_MODEL=base
WHISPERX_DEVICE=cuda
HF_TOKEN=your_huggingface_token_here

# Frontend
NEXT_PUBLIC_API_URL=http://146.190.240.94:8000
