DATABASE_URL=postgresql://postgres:postgres@localhost:5432/reefguard
SLACK_WEBHOOK_URL=
GOOGLE_SAFE_BROWSING_API_KEY=
VIRUSTOTAL_API_KEY=
CISCO_TALOS_API_KEY=
URLSCAN_API_KEY=
MSFT_SMARTSCREEN_API_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
